
<br />
<br />
<br />
<br />
  Enter your search query:
<input id="txtPieName" type="text" />
<button id="searchButton">Search</button>
<br />
<br />
<table id="tblPies" cellpadding="0" cellspacing="0">
    <tr>
        <th style="width: 120px"></th>
        <th style="width: 120px">Name</th>
        <th style="width: 90px">Price</th>
    </tr>
    <tbody></tbody>
</table>


<script type="text/javascript">

    $(document).ready(function(){
      $("button").click(function(){
        var searchQuery = $.trim($("#txtPieName").val());
            $("table tbody").html("");
            $.ajax({
                type: "POST",
                url: "/api/Search",
                data: "\"" + searchQuery + "\"",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (pies) {
                    var table = $("#tblPies");
                    table.find("tr:not(:first)").remove();
                    $.each(pies, function (i, pie) {
                        $("tbody").append($("<tr>"));
                        appendElement = $("tbody tr").last();
                        appendElement.append($("<td>").html('<img src=' + pie.imageThumbnailUrl + '>'));
                        appendElement.append($("<td>").html('<a href="/pie/details/' + pie.pieId + '">' + pie.name + '</a>'));
                        appendElement.append($("<td>").html(pie.price));
                    });
                },
                error: function (xhr, status, error) {
                        console.log(xhr)
                }
            });
          });
        });

</script>