@page
@model NorthwindWeb.Pages.OrdersModel
@{
}

<div class="row">
    <h1 class="display-2">@Model.ViewData["title"]</h1>
    <p>
        There are @Model.OrdersCount orders in the Northwind database.
    </p>
</div>

